<%- include('partials/header') -%>

<div class="container mt-5 w50">
    <h2 class="mb-4">Edit Employee</h2>
    <form action="/edit/<%= employee.id %>?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        
        <input type="text" name="name" value="<%= employee.name %>" id="" placeholder="Employee Name" class="form-control">
        
        <input type="text" value="<%= employee.designation %>" name="designation" id="" placeholder="Designation" class="form-control">
        
        <input type="text" value="<%= employee.salary %>" name="salary" id="" placeholder="Salary" class="form-control">
        
        <button type="submit" class="btn btn-danger btn-block mt-3">Update Employee</button>
    </form>
</div>

<%- include('partials/footer') -%>